

.footer{
    padding: 2rem 1rem; /* Espaciado responsivo */
    background-color: black;
    text-align: center;
    font-weight: bold;
    font-family: "Bebas Neue", sans-serif !important;
}

footer {
    background-color: rgb(0, 0, 0); 
    color: #fff;
    padding: 20px 0; 
}

.logo-footer {
    width: 100%; /* Ajusta el ancho en porcentaje */
    max-width: 150px; /* Tamaño máximo para pantallas grandes */
    height: auto; /* Mantiene la proporción del logo */
}



.footer-content {
    background-color: black;
    max-width: 800px; 
    margin: 0 auto; 
    text-align: center; 
}