header {
    background-color: black !important;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    padding: 20px;
    font-family: "Bebas Neue", sans-serif;
    font-size: large;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

/* ESTILOS DEFINITIVOS PARA EL LOGO UFC */
.logo-ufc img {
    transition: all 0.3s ease;
    height: 50px; /* Asegura altura consistente */
}

.logo-ufc img {
    transition: transform 0.3s ease; /* Transición para el logo */
}


.bg-dark{ 
    background-color: black !important;
}

.nav-item {
    position: relative;
}

.hover {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: red;
    transition: width 0.3s ease;
}

.nav-item:hover .hover {
    width: 100%;
}

.navbar-brand.logo-ufc {
    padding-bottom: 5px; /* Espacio para la línea */
}
.nav-link {
    color: gray !important; /* Color del texto */
}

.nav-item:hover .nav-link {
    color: white !important; /* Cambia el color del texto al hacer hover, si lo deseas */
}

.logo-ufc:hover img {
    filter: 
        brightness(0) 
        invert(16%) 
        sepia(100%) 
        saturate(1000%) 
        hue-rotate(320deg);
}

/* Elimina cualquier filtro inicial que pueda interferir */
.navbar-brand.logo-ufc img {
    filter: none !important;
}

.navbar{
    background-color: black !important;
}

#searchInput {
    position: absolute;
    right: 10px; /* Ajusta la posición según sea necesario */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}


/* Estructura responsive */
@media (max-width: 991.98px) {
    .navbar-collapse {
        flex-direction: column;
        align-items: center;
    }
    
    .navbar-nav {
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    
    .navbar-brand.d-lg-none {
        order: -1; /* Logo primero en móvil */
        margin: 10px 0;
    }
    
    .navbar-toggler {
        order: 1; /* Botón hamburguesa después del logo */
    }
}
